*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background-color: rgb(33, 33, 33);
}

.navBar{
    background-color: rgb(61, 61, 61);
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    padding: 15px;
    margin: 0px;
    display: inline-flex;
    align-items: baseline;
}

.logo{
    color: rgba(228, 115, 75, 0.671);
    text-shadow: 1px 1px 2px black;
    cursor: default;
}

.bar{
    padding-left: 10px;
    color: black;
    cursor: default;
}

ul{
    list-style: none;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-inline-start: 30px;
    overflow: hidden;
}

li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-inline: 30px;
}

li a:hover{
    color: rgba(228, 115, 75, 0.671);
    text-decoration: underline;
}

.pageTitle{
    text-align: center;
    font-size: 50px;
    cursor: default;
    padding-top: 15px;
}

h1 {
    color:white;
}

.project-body{
    padding-inline: 50px;
    list-style-type: none;
    margin-left: 20%;
    width: 50%;
}

.pNameLabel{
    font-size: 20px;
}

.nameInput{
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 10px;
    border: none;
    width: 25%;
}

.nameInput:hover {
    background-color: rgb(70, 70, 70);
}

.projDesc{
    font-size: 20px;
}

.descInput{
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 10px;
    border: none;
    width: 50%;
}

.descInput:hover {
    background-color: rgb(70, 70, 70);
}

.members{
    font-size: 20px;
}

.teamInput{
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 10px;
    border: none;
}

li input {
    width: 25%;
}

.teamInput:hover{
    background-color: rgb(70, 70, 70);
}

.add_member{
    margin-left: 13%;
    background-color: orangered;
    border: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.add_member:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}

.delete_member{
    margin-top: 9px;
    margin-left: 2px;
    background-color: orangered;
    border: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.delete_member:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}

.project-body ol{
    list-style-type: none;
}

.risks{
    font-size: 20px;
}

.riskInput{
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 10px;
    border: none;
}

.riskInput:hover{
    background-color: rgb(70, 70, 70);
}

.add_risk{
    margin-left: 16.75%;
    background-color: orangered;
    border: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.add_risk:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}

.create{
    background-color: orangered;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-left: 22.5%;
    padding-inline: 15px;
}

.create:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}

.cancelCreate{
    background-color: orangered;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    padding-inline: 15px;
    margin-left: 10px;
}

.cancelCreate:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}