*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background-color: rgb(33, 33, 33)
}

.navBar{
    background-color: rgb(61, 61, 61);
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    padding: 15px;
    margin: 0px;
    display: inline-flex;
    align-items: baseline;
}

.logo{
    color: rgba(228, 115, 75, 0.671);
    text-shadow: 1px 1px 2px black;
    cursor: default;
}

.bar{
    padding-left: 10px;
    color: black;
    cursor: default;
}

ul{
    list-style: none;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-inline-start: 30px;
    overflow: hidden;
}

li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-inline: 30px;
}

li a:hover{
    color: rgba(228, 115, 75, 0.671);
    text-decoration: underline;
}

.pageHeader{
    text-align: center;
    align-items: baseline;
    padding: 15px;
    margin-right: 35px;
}

.pageTitle{
    text-align: center;
    font-size: 50px;
    cursor: default;
    padding-top: 15px;
}

.enter_details{
    background-color: orangered;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-right: 50px;
    border-radius: 20px;
    float: right;
}

.enter_details:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}