*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background-color: rgb(33, 33, 33)
}

.navBar{
    background-color: rgb(61, 61, 61);
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    padding: 15px;
    margin: 0px;
    display: inline-flex;
    align-items: baseline;
}

.logo{
    color: rgba(228, 115, 75, 0.671);
    text-shadow: 1px 1px 2px black;
    cursor: default;
}

.bar{
    padding-left: 10px;
    color: black;
    cursor: default;
}

.pageHeader{
    text-align: center;
    align-items: baseline;
    padding: 15px;
    margin-right: 35px;
}

.pageTitle{
    text-align: center;
    font-size: 50px;
    cursor: default;
}

.createNew_button{
    background-color: orangered;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-right: 50px;
    border-radius: 20px;
    float: right;
}

.createNew_button:hover {
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}

h1 {
    color:white;
}

.home-body p{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 33px;
    text-decoration: underline;
    text-decoration-color: orangered;
}

.project_list_section ol{
    list-style-type: none;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 3px 4px black;
}

.project_list_section li a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project_list_section li a:hover{
    background-color: rgb(33, 33, 33);
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}